.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
    position: relative;
    width: 100%;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
   

  
    
  }
  @media screen and (max-width:1380px) {
    .chartContainer {
      width: 100%;
    }
  }
  
  .dateFilter {
    margin-bottom: 30px;
    border: none;
    background: #006994;
    padding: 5px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 0.8rem;
    display: flex;

    gap: 10px;
  
  }
  
  .dateFilter label {
    color: black;
  }
  
  .dateFilter input[type="date"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange-gradient);
  }
  
  .dateFilter button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #006994; /* Updated background color */
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
  }

  .dateFilter button:hover {
    background-color: #3367d6;
    border: none;
  }
  
 
  .lightMode {
    background: rgba(255, 255, 255, 0);
    color: #000;
  }

  

  .lightMode .dateFilter {
    background: #239dab;
    color: white;
    display: flex;
    /* position: relative; */
    overflow: hidden;
    top: 2px;
    left: 450px;
    /* align-items: center; */
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .lightMode .dateFilter input[type="date"] {
    padding: 5px;
    border: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #239dab;
    color: white;
    cursor: pointer;
  }

  
  
  .lightMode .dateFilter label {
    color: white;
  
  }
  
  .lightMode .officefilter {
    background: #239dab;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    width: 330px;
    top: -72px;
    border-radius: 10px;
    padding-left: 10px;
    /* position:relative; */
    bottom: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .lightMode.officefilter label {
    top: 2px;
    position: relative;
  }
  
  .lightMode .officefilter select {
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px;
    width: 255px;
    top: 0px;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #239dab;
    color: white;
    cursor: pointer;
  }
  
  .lightMode .officefilter select option {
    background-color: white;
    color: #000;
    cursor: pointer;

   
  }
  
  .topContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: 'row';
    align-items: flex-start;
    justify-content: flex-start;
   
  }
  
  /* Dark mode styles */
  .darkMode {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }

  .theme-container {
    background: rgba(0, 0, 0, 0.59);
    border-radius: 20px;
    padding: 2rem;
  }


  .darkMode .dateFilter {
    background-color: #239dab;
    color: #fff;
    border: 2px solid white;
    display: flex;
    /* position: relative; */
    top: 2px;
    left: 450px;
    align-items: center;
    cursor: pointer;
   
  }

  .darkMode .dateFilter input[type="date"] {
    padding: 5px;
    border: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #239dab;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .darkMode .dateFilter label {
    color: rgb(0, 0, 0);
  
  }

 .officefilter {
    background: #239dab;
    display: flex;
    padding: 10px;
    width: 330px;
    top: -72px;
    border-radius: 10px;
    padding-left: 10px;
    /* position:relative; */
    bottom: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

 .officefilter select {
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px;
    width: 255px;
    top: 0px;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #239dab;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
 .officefilter select option {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
  }

 .officefilter label {
    top: 2px;
    position: relative;
  }
  


  .iconsContainer {
   right: 0;
    padding: 12px 12px;
   
    width: 50px;
    background-color: #239dab;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
  }

  .lightMode .icon {
    cursor: pointer;
    color: #fcfcfc;/* Adjust the color as needed */
    font-size: 18px;
  }
  
  .darkMode .icon {
    cursor: pointer;
    color: #000000;/* Adjust the color as needed */
    font-size: 18px;
  }
  

  @media screen and (max-width:768px) {
    .iconsContainer {
      padding: 7px 8px;
      height: 35px;
      width: 35px;
    }
    .lightMode .icon{
      font-size: 12px;
    }
    .darkMode .icon{
      font-size: 12px;
    }
  }
  
  
  .lightMode .exportOptions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;

  right: 50px;
  z-index: 1;
  width: 190px;
  font-size: 18px;

}

@media screen and (max-width:768px) {

  .lightMode .exportOptions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    top: 30px;
    right: 40px;
    z-index: 1;
    width: 125px;
    font-size: 11px;
  
  }
 
}

.lightMode .exportOption {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;

}

.lightMode .exportOption:not(:last-child) {
  margin-bottom: 15px;

}

.lightMode .exportOption:not(:last-child)::after {
  content: "";
  display: block;
  width: 100px; /* Subtract left and right padding from width */
  height: 1px;
  background-color: #ccc; /* Line separator color */
  margin-right: 0px; /* Left padding */
  margin-bottom: -40px;
  margin-left: -105px;
  margin-top: 0px;
}

.lightMode .exportOption span {
  margin-left: 10px;
 
}
  .darkMode  .exportOptions {
  position: absolute;
  background-color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;

  right: 50px;
  z-index: 1;
  width: 190px;
  font-size: 18px;

}

@media screen and (max-width:768px) {

 
  .darkMode .exportOptions {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    top: 20px;
    right: 40px;
    z-index: 1;
    width: 125px;
    font-size: 11px;
  
  }

}

.darkMode  .exportOption {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;

}

.darkMode  .exportOption:not(:last-child) {
  margin-bottom: 15px;

}

.darkMode .exportOption:not(:last-child)::after {
  content: "";
  display: block;
  width: 100px; /* Subtract left and right padding from width */
  height: 1px;
  background-color: #ccc; /* Line separator color */
  margin-right: 0px; /* Left padding */
  margin-bottom: -40px;
  margin-left: -105px;
  margin-top: 0px;
}

.darkMode .exportOption span {
  margin-left: 10px;
 
}

.tableContainer {
  max-height: 580px;
  overflow-y: auto;
  margin-top: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Light Mode */
.lightMode .table th {
  background-color: #fefefe;
}

/* Dark Mode */
.darkMode .table th {
  background-color: black;
  color: white;
}


.closeButton {
  margin-top: 10px;
  padding: '8px 16px';
  border: 'none';
  width: 65px;
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #239dab;
  color: white;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tableWrapper {
  margin-top: 20px;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: 999;
}

.loadingSpinner {
  font-size: 2rem;
  top: 50px;
  position: relative;
}

.boldOption {
  font-weight: 800;
}

.optionGroup {
  font-style: italic;
}

 .date-range-picker .rs-picker-toggle-value {
  color: black !important;
}

.rs-stack-item > span {
  color: #000!important;
}

