
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    /* justify-content: center; */
}

 .rs-picker-toggle-textbox {  color: #000000 !important; opacity: 1; }
 .rs-stack-item { position: relative !important;}
 .theme2-container { position: relative;}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.1rem; /* Adjust the font size as per your requirements */
  }
}

.cards{
    display: flex;
    justify-content: space-between;
    font-weight: wrap;
}
.cards>:nth-child(1)
{
    align-items: center;
    display: flex;
    gap: 0.8rem;
}

.card{
    display: flex;
    flex-direction: column;
    color: var(--grey);
    gap: 0.5rem;
}

.card>:nth-child(1)
{
    font-size: 0.8rem;
}

.card>:nth-child(2)
{
    font-size: 1.1rem;
    font-weight: 500;
}
.arrowIcon{
    width: 2rem;
    height: 2rem;
    background: #239dab;
    border-radius: 5px
}
.arrowIcon >svg{
    width: 2rem;
    height: 2rem;
    color: black;
}

.durationButton > select {
    border: none;
    background: var(--orange-gradient);
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 0.8rem;
  }


.lightMode {
   
    color: #ffffff;
    border-radius: 10px;
  }

 


 .lightMode .dateFilter {
    background-color: #239dab;
    color: white;
    display: flex;
    /* position: relative; */
    overflow: hidden;
    top: 2px;
    left: 450px;
    padding: 9px;
    /* align-items: center; */
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 40px;
    height: 42px;
    width: 335px
  }

  
  
 .lightMode .dateFilter input[type="date"] {
   
    border: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #239dab;
    color: white;
    cursor: pointer;
  }

  
  
.lightMode .dateFilter label {
    color: white;
    padding: 5px;
    font-size: 13px;
  
  }

  @media (max-width: 768px) {
    .lightMode .dateFilter label {
      color: white;
      padding: 2px;
      font-size: 12px;

    
    }

    .lightMode .dateFilter {
      width: 350px;
      
      padding: 3px;
    }
  }
  
  .lightMode .officefilter {
   background: #239dab;
    display: flex;
    padding: 9px;
    height: 42px;
    width: 338px;
    top: -72px;
    border-radius: 10px;
    padding-left: 10px;
    /* position: relative; */
    bottom: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .lightMode .officefilter select {
   display: flex;
    align-items: center;
    position: relative;
    padding: 2px;
    width: 275px;
    top: -1px;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #239dab;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 13px;
    height: 23px;
  }
  
  .lightMode .officefilter select option {
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
  }

  .lightMode .officefilter label {
    top: 1px;
    position: relative;
    font-size: 13px;
  }
  

  

  .boldOption {
    font-weight: 800;
    color: #0d6efd;
   
    
  }
  
  /* .optionGroup { */
    /* font-style: italic; */
  /* } */

  @media (max-width: 768px) {
    .lightMode .officefilter {
      width: 350px;
    }

  .lightMode .officefilter select {
    width: 280px;
    font-size: 11px;
    padding: 2px;

  }

    .lightMode .officefilter label {
      font-size: 12px;
      margin-top: 0px;
    }

    .lightMode .officefilter select option {
     
      
      cursor: pointer;
      padding: 10px;
      font-size: 11px;
      width: 50px;
     
     
    }


  }

  
  
  .topContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: 'row';
    align-items: center;
    justify-content: flex-start;
    /* margin-bottom: 20px; */
    transition: visibility 0s, opacity 1s,height 0.25s linear(0 0%, 1 100%);
    background:  rgb(13 110 253/85%);
  }
  
  /* Dark mode styles */
  .darkMode {
   
    color: #000000;
    border-radius: 10px;
  }

 


 .darkMode .dateFilter {
  background-color: #239dab;
  color: rgb(0, 0, 0);
  display: flex;
  /* position: relative; */
  overflow: hidden;
  top: 2px;
  left: 450px;
  padding: 9px;
  /* align-items: center; */
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 30px;
  height: 42px;
  width: 335px

   
  }

  .darkMode .dateFilter input[type="date"] {
    padding: 5px;
    border: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #239dab;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .darkMode .dateFilter label {
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 13px;
  
  }

  .darkMode .officefilter {
    background: #239dab;
    display: flex;
    padding: 9px;
    height: 42px;
    width: 338px;
    top: -72px;
    border-radius: 10px;
    padding-left: 10px;
    /* position: relative; */
    bottom: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .darkMode .officefilter select {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px;
    width: 275px;
    top: -1px;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #239dab;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 13px;
    height: 23px;
  }
  
  .darkMode .officefilter select option {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
  }

  .darkMode .officefilter label {
    top: 1px;
    position: relative;
    font-size: 13px;
  }

  @media (max-width: 768px) {

    .darkMode .dateFilter label {
   
      padding: 2px;
      font-size: 12px;
    
    }

    .darkMode .dateFilter {
      width: 350px;
      padding: 3px;
    }

   
    .darkMode .officefilter {
        width: 350px;
    }
  
    .darkMode .officefilter select {
     width: 280px;
    font-size: 11px;
    padding: 2px;
  
    }
  
      .darkMode .officefilter label {
        font-size: 12px;
        margin-top: 0px;
      }
  
      .darkMode .officefilter select option {
       
        
        cursor: pointer;
        padding: 10px;
        font-size: 11px;
        width: 50px;
       
       
      }
  
  }

  .dateRangePicker{
    width: 300px;
    height: 35px;
  }


 






