.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
    position: relative;
    width: 100%; 
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    
  }

  

@media screen and (max-width: 768px) {

  .piechart{

    height: 250px!important;
   

  }
   .chartContainer{
    width: 100%;
   }

   .legend-text {
    font-size: 12px !important; /* Adjust the font size as needed */
  }

 

  
}


  
.iconsContainer {
  margin-left: auto;
  padding: 12px 12px;
  /* position: relative; */
  margin-right: 23px;

 

  background-color: #239dab;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.lightMode .icon {
  cursor: pointer;
  color: #fcfcfc;/* Adjust the color as needed */
  font-size: 18px;
}

.darkMode .icon {
  cursor: pointer;
  color: #000000;/* Adjust the color as needed */
  font-size: 18px;
}


@media screen and (max-width:768px) {
  .iconsContainer {
    padding: 7px 7px;
    top: 100px;
  }
  .lightMode .icon{
    font-size: 12px;
  }
  .darkMode .icon{
    font-size: 12px;
  }
}
  
.lightMode .exportOptions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  right: 50px;
  z-index: 1;
  width: 190px;
  font-size: 18px;

}

@media screen and (max-width:768px) {

  .lightMode .exportOptions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;

    right: 50px;
    z-index: 1;
    width: 125px;
    font-size: 11px;
  
  }
 
}

.lightMode .exportOption {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;

}

.lightMode .exportOption:not(:last-child) {
  margin-bottom: 15px;

}

.lightMode .exportOption:not(:last-child)::after {
  content: "";
  display: block;
  width: 100px; /* Subtract left and right padding from width */
  height: 1px;
  background-color: #ccc; /* Line separator color */
  margin-right: 0px; /* Left padding */
  margin-bottom: -40px;
  margin-left: -105px;
  margin-top: 0px;
}

.lightMode .exportOption span {
  margin-left: 10px;
 
}

.darkMode  .exportOptions {
  position: absolute;
  background-color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;

  right: 50px;
  z-index: 1;
  width: 190px;
  font-size: 18px;

}

@media screen and (max-width:768px) {

 
  .darkMode .exportOptions {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;

    right: 50px;
    z-index: 1;
    width: 125px;
    font-size: 11px;
  
  }

}

.darkMode  .exportOption {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;

}

.darkMode  .exportOption:not(:last-child) {
  margin-bottom: 15px;

}

.darkMode .exportOption:not(:last-child)::after {
  content: "";
  display: block;
  width: 100px; /* Subtract left and right padding from width */
  height: 1px;
  background-color: #ccc; /* Line separator color */
  margin-right: 0px; /* Left padding */
  margin-bottom: -40px;
  margin-left: -105px;
  margin-top: 0px;
}

.darkMode .exportOption span {
  margin-left: 10px;
 
}

.tableContainer {
  max-height: 500px;
  overflow-y: auto;
  margin-top: 60px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Light Mode */
.lightMode .table th {
  background-color: #fefefe;
}

/* Dark Mode */
.darkMode .table th {
  background-color: black;
  color: white;
}


.closeButton {
  margin-top: 10px;
  padding: '8px 16px';
  border: 'none';
  width: 65px;
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #239dab;
  color: white;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tableWrapper {
  margin-top: 20px;
}


.legendButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-left: 0px;

}

.legendButton {
  padding: 10px 10px;
  background-color: #009AEE;
  color: #ffffff;
  font-size: 14px;
  border: none;
  position: relative;
  top: -50px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.legendButton:hover {
  background-color: #0077BB;
}

.legendButton:focus {
  outline: none;
}


@media screen and (max-width: 768px) {
.legendButton {
  padding: 5px 5px;
  background-color: #009AEE;
  position: relative;
  top: -30px;
  color: #ffffff;
  font-size: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}


}


